*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 80px;
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
 }

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.card{
    border: 1px solid rgb(233, 232, 232);
    text-align: center;
    border-radius: 10px;
    background-color: white;
    ;
}
.btn{

  padding: 10px 33px;
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  .btn:hover {
    background-color: #555;
  }
  
}
.foot{
    text-align: center;
}
.card-icon {
    font-size: 48px;
    margin-bottom: 20px;
}
.card-body p {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}
.card-body h3{
    color: #666;
    margin-bottom: 20px;
}